<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Duo</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>
{% verbatim %}
<div id="app">
    <div class="flex-item">
        <input v-model="searchQuery" type="text" placeholder="Search phrase">
    </div>
    <div class="flex-item">
        <div v-for="sentence in sentences">
            <div class="japanese">{{ sentence.english }}</div>
            <div class="english">{{ sentence.japanese }}</div>
        </div>
    </div>
</div>
{% endverbatim %}
</body>

<script>
    new Vue({
        el: "#app",
        data: {
            searchQuery: "",
            timeout: null,
            sentences: [{english: 'hi', japanese: 'there'}]
        },
        watch: {
            searchQuery: function (value) {
                let self = this;
                clearTimeout(this.timeout);
                this.timeout = setTimeout(
                    function () {
                        axios.get(`/search?query=${value}`)
                            .then(function (response) {
                                self.sentences = response.data.result;
                            });
                    },
                    500,
                );
            }
        }
    })
</script>

<style>
    body {
        padding: 15px;
    }

    input, div {
        font-size: 20px;
        line-height: 1.5;
    }

    div.english {
        padding-left: 20px;
    }

    #app {
        font-size: 20px;
        line-height: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-item {
        flex-grow: 4;
        flex: 1;
        margin: 10px;
    }
</style>
</html>